<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  <span ng-if="currency.symbol == 'USD'">USD</span>
  <span ng-if="currency.symbol == 'AIDP'">{{currency.realSymbol}}</span>
  <span ng-if="currency.symbol == 'mAIDP'">m{{currency.realSymbol}}</span>
  <span ng-if="currency.symbol == 'bits'">bits</span>
  <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('AIDP')" data-ng-class="{active: currency.symbol == 'AIDP'}">{{currency.realSymbol}}</a>
  </li>
</ul>
